XTREAM_BASE_URL=
XTREAM_USERNAME=
XTREAM_PASSWORD=
TMDB_API_KEY=
CATALOG_OUTPUT_DIR=../..
CATALOG_PUBLIC_BASE_URL=https://caduinoo.github.io/caduflix-catalogo-iptv
CATALOG_LIMIT_MOVIES=
CATALOG_LIMIT_SERIES=
TMDB_LANGUAGE=pt-BR
TMDB_REGION=BR
XTREAM_RETRY_ATTEMPTS=3
XTREAM_RETRY_DELAY_MS=1500
XTREAM_REQUEST_TIMEOUT_MS=30000
TMDB_CACHE_ENABLED=true
TMDB_RETRY_ATTEMPTS=3
TMDB_RETRY_DELAY_MS=1000
CATALOG_INCREMENTAL_ENABLED=true
