FOOTBALL_API_PROVIDER=api-football
FOOTBALL_API_KEY=
FOOTBALL_API_BASE_URL=https://v3.football.api-sports.io
GAMES_OUTPUT_DIR=../..
GAMES_TIMEZONE=America/Sao_Paulo
GAMES_COUNTRY=BR
GAMES_LANGUAGE=pt-BR
GAMES_USE_MOCK_WHEN_NO_KEY=true